label, input {
    font-size: 2em;
}


.container {
    display:flex;
    flex-wrap: wrap;
}


.gameBoard {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    margin: auto;
    width: 98vmin;
    height: 98vmin;
    flex: 1;
}

.scores {
    flex: 1;
    font-size: 2rem;
}

.row {
	display: flex;
	width: 100%;
	flex-direction: row;
	align-items: stretch;
    flex: 1;
    background-color: beige;
}

.menu {
    width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex: 1;
    flex-wrap: wrap;
}

.menulabel {
    width: 50px;
}

.menuinput {
    width: 100%;
}

.menurow {
    margin: 5px;
    flex: 1;
    width: 100%;
}

.menubtn {
    width: 100%;
    height: 80px;
}


.tile {
    border: solid;
    margin: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

[data-value="2"] {
    background-color: #FFA07A;
}

[data-value="4"] {
    background-color: #FA8072;
}

[data-value="8"] {
    background-color: #E9967A;
}

[data-value="16"] {
    background-color: #F08080;
}

[data-value="32"] {
    background-color: #CD5C5C;
}

[data-value="64"] {
    background-color: #DC143C;
}

[data-value="128"] {
    background-color: #B22222;
}

[data-value="256"] {
    background-color: #FF0000;
}

[data-value="512"] {
    background-color: #8B0000;
}

[data-value="1024"] {
    background-color: #FF6347;
}

[data-value="2048"] {
    background-color: #FF4500;
}


[data-value="2048"] {
    background-color: #DB7093;
}


.winner {
    border: solid;
    margin: 5px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 2em;
}

.emptyTile {
    width: 100%;
    height: 100%;
}

.buttonsRow {
    justify-content: center;
    height: 8vh;
    width: 90vmin;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn {
    flex: 1;
}


.hidden {
    display: none;
}

input {
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    height: 90%;
    margin: 0 auto;
}


